<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suit 01">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter2"/>
    </listeners>
    <test name="CM_API_Test">
        <classes>
            <class name="com.crowd.Scripts.LoginEP"/>
            <class name="com.crowd.Scripts.CreatePaperEP"/>
        </classes>
    </test>
</suite>